<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a195a_e_senior_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StudentViewAppointmentsActivity"></activity>
        <activity android:name=".AdvisorRegistrationActivity" />
        <activity android:name=".ViewScheduleActivity" />
        <activity android:name=".SetScheduleActivity" />
        <activity android:name=".FacultyDashboardActivity" />
        <activity android:name=".RegisterAppointmentActivity" />
        <activity android:name=".AdvisingHubActivity" />
        <activity android:name=".DepartmentRegistrationActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>